<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Game Matching</title>
</head>
<body>
<h1>게임 매칭 테스트</h1>
<textarea id="chat-log" cols="100" rows="20" readonly></textarea><br>
<input id="chat-message-input" type="text" size="100"><br>
<input id="chat-message-submit" type="button" value="Send">
{{ jwt_token|json_script:"jwt_token" }}
{{ waiting_room|json_script:"waiting_room" }}
{{ room_name|json_script:"room_name" }}

<script>
    const jwtToken = JSON.parse(document.getElementById('jwt_token').textContent);
    const waitingRoom = JSON.parse(document.getElementById('waiting_room').textContent);
    const roomName = JSON.parse(document.getElementById('room_name').textContent);

    // WebSocket 연결 URL을 결정하는 로직
    const socketUrl = waitingRoom && roomName
        ? 'ws://' + window.location.host + '/ws/match/' + waitingRoom + '/' + roomName + '/?token=' + jwtToken
        : 'ws://' + window.location.host + '/ws/match/?token=' + jwtToken;

    const chatSocket = new WebSocket(socketUrl);

    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);

        console.log("Received data:", data);

        document.querySelector('#chat-log').value += (`서버로부터 받은 데이터: ${JSON.stringify(data, null, 2)}\n`);

        // 매칭 성공 메시지를 확인하고 게임 페이지로 리다이렉트
        if (data.type === 'game_start') {
            // room_name이 undefined가 아닌지 확인
            if (data.room_name) {
                // 게임 페이지로 리다이렉트하면서 토큰도 붙임
                window.location.href = '/api/game/online/' + data.room_name + '/?token=' + jwtToken;  // 게임 페이지 URL로 리다이렉트
            } else {
                console.error('room_name is undefined');
            }
        }
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.key === 'Enter') {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message
        }));
        messageInputDom.value = '';
    };
</script>
</body>
</html>
