
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<body>
    <textarea id="chat-log" cols="100" rows="20"></textarea><br>
    <input id="chat-message-input" type="text" size="100"><br>
    <input id="chat-message-submit" type="button" value="Send">
    {{ room_name|json_script:"room-name" }}
    {{ sender|json_script:"sender" }}
    {{ jwt_token|json_script:"jwt_token" }}
    {{ messages|json_script:"messages" }}
    <script>
        const messagesElement = document.getElementById('messages');
        // const messagesJSON = messagesElement.textContent;
        const messagesJSON = messagesElement.innerHTML;

        let previousMessages = [];

        try {
            previousMessages = JSON.parse(messagesJSON);
        } catch (e) {
            console.error('Failed to parse JSON:', e);
        }

        // 페이지 로드 시 기존 메시지를 표시합니다.
        function displayPreviousMessages() {
            const chatLog = document.querySelector('#chat-log');
            if (!chatLog) {
                console.error('Chat log element not found');
                return;
            }

            previousMessages.forEach(message => {
                chatLog.value += `${message.sender} [${message.created_at}]: ${message.content}\n`;
            });
        }

        // 기존 메시지를 표시합니다.
        displayPreviousMessages();

        const roomName = JSON.parse(document.getElementById('room-name').textContent);
        const sender = JSON.parse(document.getElementById('sender').textContent);
        const jwtToken = JSON.parse(document.getElementById('jwt_token').textContent);

        // roomName 으로 소켓 구분하는거구나
        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
            + '?token=' + jwtToken
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            document.querySelector('#chat-log').value += (data.message + '\n');
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();


        document.querySelector('#chat-message-input').onkeydown = function(e) {
            if (e.isComposing || e.keyCode === 229) return; 
            if (e.key === 'Enter') {  // enter, return
                sendMessage();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            sendMessage();
        };

        function sendMessage() {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;

            // 소켓으로 메시지 보내기
            chatSocket.send(JSON.stringify({ // consumer의 recieve로 가는 거 맞나?
                'message': message,
                'sender' : sender,
                'roomName' : roomName
            }));
            messageInputDom.value = '';
        }
    </script>
</body>
</html>